<!DOCTYPE html>
<html>
  <%- include ../templates/head.ejs %>
  <body id="main" onload="loadReport()">
    <h1>Report</h1>
    <h4 class="noprint">
    	<a class="btn btn-default" href="/"><i class="fa fa-arrow-left"></i> Back</a>
    	<a disabled class="btn btn-primary" id="printButton" onclick="window.print()"><i class="fa fa-spin fa-spinner"></i></a>
    </h4>
    <% for(var sensor in query) { %>
    	<div id="s_<%= sensor %>" class="well card-2">
    		<h3 class=""><%= sensor %>: <%= query[sensor].query.replace("&"," ").replace("<t<","<").replace(">t>",">") %></h3>
        <pre style="display:none" class="data-url"><%="\/api\/sensors\/"+sensor+"\/data\/"+query[sensor].query+"\/json"%></pre>
        <pre style="display:none" class="plot-url"><%="\/api\/sensors\/"+sensor+"\/data\/"+query[sensor].query+"\/plot\/"+query[sensor].fields%></pre>
        <i class="fa fa-spin fa-spinner table-spinner"></i>      	
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="tableHead">

            </thead>
            <tbody class="tableBody">

            </tbody>
          </table>
        </div>
        <div class="well card-1">
    		  <i class="fa fa-spin fa-spinner img-spinner"></i><img class="plot-img img-responsive">
        </div>
    	</div>
    <% } %>
    <footer>
        <h3>Powered by Sensors.Io</h3>
    </footer>
  </body>

  <script type="text/javascript">
  	function loadReport() {
  		$('[id^=s_]').each(function() {
  			var dataUrl = $(this).find("pre.data-url").text();
  			var plotUrl = $(this).find("pre.plot-url").text();
  			var sensorName = $(this).attr("id").split("s_")[1];
  			var sensorContainer = $(this);
  			var getPromise = $.get(dataUrl);
        getPromise
  			.then(result => {
          $(".table-spinner").hide();
          for(var i in result.headers) {
            sensorContainer.find("thead.tableHead").append("<th>"+result.headers[i]+"</th>");
          }
          for(var i in result.data) {
            var row = sensorContainer.find("tbody.tableBody").append("<tr></tr>");
            for(var j in result.data[i])
              row.append("<td>"+result.data[i][j]+"</td>");
          }
  			});
        var imgPromise = loadImagePromise(plotUrl,sensorContainer.find("img.plot-img"));
        imgPromise.then(done => {
            sensorContainer.find("i.img-spinner").hide();
        });

        Promise.all([getPromise,imgPromise]).then(done => {
            $("#printButton").removeAttr("disabled");
            $("#printButton").text("Print");
        })
  		})
  	}

    function loadImagePromise(src,image) {
      var deferred = $.Deferred();
      image.on("load",function() {
        deferred.resolve();
      })
      image.attr("src",src);
      return deferred.promise();
    }



  </script>
</html>
